.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1240px;
    height: 223px;
    border-radius: 25px;
}

.banner-img {
    object-fit: cover;
    border-radius: 25px;
    opacity: 0.3;
}

.banner h1 {
    position: absolute;
    font-family: Montserrat;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
    color: #FFF;
}