.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 1240px;
    flex-shrink: 0;
    border-radius: 25px;
    margin-top: 50px;
    padding: 50px;
    background: #F6F6F6;
}

.card-link {
    display: flex;
    align-items: flex-end;
    width: 340px;
    height: 340px;
    flex-shrink: 0;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 50px;
    text-decoration: none;
}

.card-name {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    line-height: 142.6%;
}

/* MEDIA QUIERIES */
@media (max-width: 659px) {
    .card-wrapper {
        width: auto;
        flex-direction: column;
        background-color: #FFF;
    }

    .card-link {
        width: 1050px;
        height: 800px;
    }

    .card-name {
        font-size: 70px;
    }
}