.card-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 1240px;
    flex-shrink: 0;
    border-radius: 25px;
    padding: 50px;
    background: #F6F6F6;
}

.card-name {
    display: flex;
    align-items: flex-end;
    width: 340px;
    height: 340px;
    flex-shrink: 0;
    border-radius: 10px;
    background-color: #FF6060;
    padding: 15px;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
}