.error-body {
    display: flex;
    width: 1440px;
    padding-top: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 139px;
    color: #fff;
}

.error-title {
    width: 597px;
    height: 263px;
    color: #FF6060;
    font-family: Montserrat;
    font-size: 288px;
    font-style: normal;
    font-weight: 700;
    line-height: 142.6%;
}

.error-text {
    color: #FF6060;
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
}

.link-home {
    color: #FF6060;
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
    text-decoration-line: underline;
    margin-bottom: 139px;
}