.footer {
    background-color: black;
    width: 1440px;
    height: 209px;
    padding-top: 66px;
}

.kasa-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 28.556px;
}

.logo-footer {
    width: 122px;
    height: 39.444px;
    filter: saturate(0) brightness(2);
}

.copyright {
    text-align: center;
    color: white;
    font-family: Montserrat;
    font-weight: 500;
    line-height: 142.6%;
}

@media (max-width: 659px) {
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: auto;
        height: 700px;
    }

    .kasa-footer {
        align-items: center;
        padding: 140px;
    }

    .logo-footer {
        align-items: center;
        width: 350px;
        height: 130px;
    }

    .copyright {
        font-size: 20px;
    }
}