.kasa-header {
    display: flex;
    width: 1440px;
    height: 68px;
    justify-content: center;
    align-items: center;
    gap: 720.678px;
}

.kasa-logo {
    width: 210.322px;
    height: 68px;
    flex-shrink: 0;
}

.nav {
    font-family: Montserrat;
    font-size: 24px;
    margin-left: 57px;
}