.slideshow-wrapper {
    margin: 0 auto;
}

.slideshow-img {
    width: 1240px;
    height: 415px;
    border-radius: 25px;
    object-fit: cover;
}

@media (max-width: 659px) {
    .slideshow-img {
        width: 1050px;
        height: 800px;
    }
}