.kasa-header {
    display: flex;
    width: 1440px;
    height: 68px;
    justify-content: center;
    align-items: center;
    gap: 720.678px;
}

.kasa-logo {
    width: 210.322px;
    height: 68px;
    flex-shrink: 0;
}

.nav a {
    font-family: Montserrat;
    font-size: 24px;
    margin-left: 57px;
    font-weight: 500;
    text-decoration: none;
    color: #FF6060;
}

.nav a:focus {
    text-decoration: underline;
}

/* MEDIA QUIERIES */
@media (max-width: 659px) {
    .kasa-header {
        justify-content: space-around;
        width: 1160px;
        height: 200px;
        gap: 0;
    }

    .kasa-logo {
        width: 350px;
        height: 130px;
    }

    .nav a {
        font-size: 60px;
        line-height: 142.6%;
    }
}