body {
  display: inline-flex;
  padding-top: 45px;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}