body {
  padding-top: 45px;
  display: inline-flex;
  padding-top: 45px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  gap: 50px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}